In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [6]:
ser = Series(randn(6),index =[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [7]:
ser

1  a    1.939214
   b   -1.294655
   c    1.100707
2  a   -0.313018
   b    0.376995
   c   -1.291440
dtype: float64

In [8]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
ser[1]

a    1.939214
b   -1.294655
c    1.100707
dtype: float64

In [10]:
ser[2]

a   -0.313018
b    0.376995
c   -1.291440
dtype: float64

In [11]:
ser[:,'a']

1    1.939214
2   -0.313018
dtype: float64

In [12]:
ser[:,'a']

1    1.939214
2   -0.313018
dtype: float64

In [13]:
dframe = ser.unstack()

In [14]:
dframe

          a         b         c
1  1.939214 -1.294655  1.100707
2 -0.313018  0.376995 -1.291440

In [16]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LA','SF'],['Cold','Hot','Hot','Cold']])

In [17]:
dframe2

      NY      LA   SF
    Cold Hot Hot Cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [19]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            Cold Hot Hot Cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            Cold Hot     Cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [25]:
dframe2.sortlevel(1)

C:\Users\Ashish\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            Cold Hot Hot Cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [26]:
dframe2.sum(level='Temp',axis=1)

Temp             Cold  Hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27